In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [3]:
#import pandas testing utility
import pandas.testing as tm; tm.N = 3

In [5]:
# Create a function to generate a time series DataFrame
def generate_time_series(start_date, end_date, freq='D', columns=None):
    date_rng = pd.date_range(start=start_date, end=end_date, freq=freq)
    if columns is None:
        columns = ['A', 'B', 'C']  # Adjust column names as needed
    data = np.random.randint(0, 100, size=(len(date_rng), len(columns)))
    return pd.DataFrame(data, columns=columns, index=date_rng)

# Create a function to unpivot the DataFrame
def unpivot(frame):
    N, K = frame.shape
    data = {'value': frame.values.ravel('F'),
            'variable': np.asarray(frame.columns).repeat(N),
            'date': np.tile(np.asarray(frame.index), K)}
    return pd.DataFrame(data, columns=['date', 'variable', 'value'])

# Set the date range for your time series data
start_date = '2023-01-01'
end_date = '2023-01-10'

# Generate a time series DataFrame
dframe = generate_time_series(start_date, end_date)

# Unpivot the DataFrame
unpivoted_dframe = unpivot(dframe)

print(unpivoted_dframe)

         date variable  value
0  2023-01-01        A     30
1  2023-01-02        A     64
2  2023-01-03        A     41
3  2023-01-04        A     69
4  2023-01-05        A     19
5  2023-01-06        A     86
6  2023-01-07        A      6
7  2023-01-08        A     95
8  2023-01-09        A      3
9  2023-01-10        A     15
10 2023-01-01        B     29
11 2023-01-02        B      3
12 2023-01-03        B     10
13 2023-01-04        B     97
14 2023-01-05        B     76
15 2023-01-06        B     45
16 2023-01-07        B     51
17 2023-01-08        B     15
18 2023-01-09        B     97
19 2023-01-10        B     17
20 2023-01-01        C     78
21 2023-01-02        C     28
22 2023-01-03        C     36
23 2023-01-04        C     53
24 2023-01-05        C     89
25 2023-01-06        C     36
26 2023-01-07        C     98
27 2023-01-08        C     82
28 2023-01-09        C      4
29 2023-01-10        C     82

In [6]:
dframe_piv = unpivoted_dframe.pivot('date','variable','value')  #(rows,columns,fill)

/var/folders/_7/178775hs6nz5h81l3b_pbb8h0000gn/T/ipykernel_6674/538127619.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.pivot will be keyword-only.
  dframe_piv = unpivoted_dframe.pivot('date','variable','value')  #(rows,columns,fill)

In [7]:
dframe_piv

variable     A   B   C
date
2023-01-01  30  29  78
2023-01-02  64   3  28
2023-01-03  41  10  36
2023-01-04  69  97  53
2023-01-05  19  76  89
2023-01-06  86  45  36
2023-01-07   6  51  98
2023-01-08  95  15  82
2023-01-09   3  97   4
2023-01-10  15  17  82