In [2]:
import sqlite3
import pandas as pd

In [5]:
!mysql -u root -p

Enter password:

NameError: name 'LuckyColts' is not defined