___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [12]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        print('They are both even')
        return min(a,b)
    else:
        print('Both are not even')
        return max(a,b)

In [13]:
# Check
lesser_of_two_evens(2,4)

They are both even

2

In [14]:
# Check
lesser_of_two_evens(2,5)

Both are not even

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [18]:
def animal_crackers(text):
    mylist = text.lower().split()
    return mylist[0][0] == mylist[1][0]

In [19]:
# Check
animal_crackers('Levelheaded Llama')

True

In [20]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [21]:
def makes_twenty(n1,n2):
    return (n1+n2) == 20 or n1 == 20 or n2==20

In [22]:
# Check
makes_twenty(20,10)

True

In [23]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [41]:
def old_macdonald(name):
    substring1 = name[:3]
    substring2 = name[3:]
    cap_string = substring1.capitalize() + substring2.capitalize()
    print(cap_string)
    return cap_string
    pass

In [42]:
# Check
old_macdonald('macdonald')

MacDonald

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [81]:
def master_yoda(text):
    word_list = text.lower().split()
    yoda_text = ''
    for word in reversed(word_list):
        yoda_text += f'{word} '
    return yoda_text.capitalize().strip()
    pass

In [82]:
# Check
master_yoda('I am home')

'Home am i'

In [83]:
# Check
master_yoda('We are ready')

'Ready are we'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [24]:
def almost_there(n):
    return (abs(100-n) <= 10) or (abs(200-n) <= 10)

In [25]:
# Check
almost_there(104)

True

In [26]:
# Check
almost_there(150)

False

In [27]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [8]:
def has_33(nums):
    a = False
    for num in nums:
        if a == True and num == 3:
            print('there were two threes')
            return True
            break
        elif a == False and num == 3:
            a = True
        elif num != 3 and a == True:
            a = False
            return a
    pass

In [9]:
# Check
has_33([1, 3, 3])

there were two threes

True

In [10]:
# Check
has_33([1, 3, 1, 3])

False

In [11]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [12]:
def paper_doll(text):
    newstring = ''
    for letter in text:
        newstring += letter + letter + letter
    return newstring

In [13]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [14]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [119]:
def blackjack(a,b,c):
    hand = a+b+c
    if a == 11 or b == 11 or c == 11:
        hand = hand - 10
        if hand > 21:
            return "BUST"
        else:
            return hand
    else:
        if hand > 21:
            return "BUST"
        else:
            return hand
    pass

In [120]:
# Check
blackjack(5,6,7)

18

In [121]:
# Check
blackjack(9,9,9)

'BUST'

In [122]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [158]:
def summer_69(arr):
    six = 6
    nine = 9
    pause = False
    numsum = 0
    for num in arr:
        if num == six:
            pause = True
        elif num == nine:
            pause = False
        elif pause == False:
            numsum += num
        else:
            continue
    return numsum
    pass

In [159]:
# Check
summer_69([1, 3, 5])

9

In [160]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [161]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [178]:
def spy_game(nums):
    doubleo7 = [0,0,7]
    jamesbond = []
    for num in nums:
        if num == 0 or num == 7:
            jamesbond.append(num)
        else:
            continue
    if jamesbond == doubleo7:
        return True
    else:
        return False
    pass

In [179]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [180]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [181]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [15]:
def count_primes(num):
    # check for 0 or 1
    if num < 2:
        return 0
    # 2 or greater
    # store our prime numbers
    primes = [2]
    # counter going up to input num
    x = 3
    while x <= num:
        for y in range(3,x,2):
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [16]:
# Check
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!