In [3]:
import numpy as np
import pandas as pd

In [5]:
from pandas import Series, DataFrame

In [6]:
my_ser = Series([1,2,3,4],index=['A','B','C','D'])

my_ser

A    1
B    2
C    3
D    4
dtype: int64

In [7]:
my_index = my_ser.index

In [8]:
my_index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [9]:
my_index[2]

'C'

In [10]:
my_index[2:]

Index(['C', 'D'], dtype='object')

In [11]:
my_index[0]

'A'

In [13]:
my_index[0] = 'Z' # index values are not mutable

TypeError: Index does not support mutable operations

In [14]:
from numpy.random import randn

In [15]:
ser1 = Series([1,2,3,4],index = ['A','B','C','D'])

ser1

A    1
B    2
C    3
D    4
dtype: int64

In [16]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [17]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [18]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [19]:
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])

ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [20]:
ranger = range(15)

In [22]:
ranger

range(0, 15)

In [23]:
ser3.reindex(ranger,method='ffill') #ffill forward fill grabs the last value and fills it until the next value

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [24]:
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],
                   columns=['col1','col2','col3','col4','col5'])

dframe

       col1      col2      col3      col4      col5
A  0.603105 -0.553204 -0.912962  1.537140 -0.832444
B -0.932508  0.814347  0.219879  1.049361 -0.141972
D  0.634653 -0.333167 -0.056824 -1.402760 -0.348940
E  0.015494  0.635933  0.898342  0.313895 -0.101755
F  0.859924  0.082563 -0.363976  1.464676  2.058738

In [25]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])

In [26]:
dframe2

       col1      col2      col3      col4      col5
A  0.603105 -0.553204 -0.912962  1.537140 -0.832444
B -0.932508  0.814347  0.219879  1.049361 -0.141972
C       NaN       NaN       NaN       NaN       NaN
D  0.634653 -0.333167 -0.056824 -1.402760 -0.348940
E  0.015494  0.635933  0.898342  0.313895 -0.101755
F  0.859924  0.082563 -0.363976  1.464676  2.058738

In [27]:
new_columns = ['col1','col2','col3','col4','col5','col6']

In [28]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  0.603105 -0.553204 -0.912962  1.537140 -0.832444   NaN
B -0.932508  0.814347  0.219879  1.049361 -0.141972   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.634653 -0.333167 -0.056824 -1.402760 -0.348940   NaN
E  0.015494  0.635933  0.898342  0.313895 -0.101755   NaN
F  0.859924  0.082563 -0.363976  1.464676  2.058738   NaN

In [29]:
dframe

       col1      col2      col3      col4      col5
A  0.603105 -0.553204 -0.912962  1.537140 -0.832444
B -0.932508  0.814347  0.219879  1.049361 -0.141972
D  0.634653 -0.333167 -0.056824 -1.402760 -0.348940
E  0.015494  0.635933  0.898342  0.313895 -0.101755
F  0.859924  0.082563 -0.363976  1.464676  2.058738

In [36]:
dframe.ix[['A','B','D','E','F'],new_columns] # have to figure out the error.

AttributeError: 'DataFrame' object has no attribute 'ix'